body{
	margin: 0;
	padding: 20px;
}

.conteiner{
	width: 50%;
	padding: 30px;
	margin: 0 auto;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
	background-image: url(../img/111.png);
	background-attachment: fixed;
}
td select, td input {
	width: 400px;
}
h5{
	letter-spacing: 2px;
}
label {
	display: block;
	color: #6c757d;
	margin-top: 15px;
	letter-spacing: 2px;
}

.error input, .error textarea {
	border: 1px solid red;
}

.error {
	color: red;
}
input[type=button]{
	display: block;
	margin: 0 auto;
}
textarea{
	width:100%;
	height:80px
}
.forButton{
	width: 100%;
}

#formOtziv{
	display: none;
}
::-webkit-input-placeholder {color:#afb7bf;}
::-moz-placeholder          {color:#afb7bf;}
:-moz-placeholder           {color:#afb7bf;}
:-ms-input-placeholder      {color:#afb7bf;}

#addcom{
	margin-top: 20px;
	margin-bottom: 20px;
}
.list-group-item{
	border-radius: 5px;
	margin-bottom: 15px !important;
}
.modal-header {
    color: white;
	border: none;
}
.modal-footer {
	border: none;
}
.modal-body{
	text-align: right;
}
.modal-content{
	background-image: url(../img/25uebd.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
#sendСomment{
	width: 100%;
}
legend{
	text-align: center;
	border-bottom: 1px dotted #afb7bf;
	border-top: 1px dotted #afb7bf;
	padding-bottom: 10px;
	padding-top: 10px;
	letter-spacing: 5px;
}
.form-group-Name, .form-group-Date{
	width: 45%;
	float: left;
}
.form-group-Name{
	margin-right: 5%;
}
.carousel-indicators li{
	width: 20px;
    height: 20px;
    border-radius: 50%;

}
.form-group-Date{
	margin-left: 5%;
}
#usersName, #usersEmail, #otziv, #datepicker{
	background-repeat: no-repeat;
	background-position: left;
	padding-left:40px;
}
#usersName{
	background-image: url(../img/team.png);
}
#datepicker{
	background-image: url(../img/calendar.png);
}

#usersEmail{
	background-image: url(../img/at.png);
}
#otziv{
	background-image: url(../img/conv.png);
	background-position: top left;
}
.btnModal{
	float: right;
	margin: 0 !important;
}

.gallery{
	width: 100%;
	margin: 0 auto;
}

#largeImg{
	width: 100%;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(128,119,128,0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(128,119,128,0.5);
	box-shadow: 0px 0px 20px 0px rgba(128,119,128,0.5);
}

#thumbs a{
	width: 16.6%;
	padding: 20px 5px 20px 5px;
	float: left;
}
li img{
	width: 100%;
	overflow:hidden;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
li img:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
#thumbs li{
	list-style: none;
}
#thumbs{
    display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
button.ui-dialog-titlebar-close {
    background-image: url(../img/close.png);
    cursor: pointer;
}